<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QlNhanSuBenhVien.Properties.Settings.QLBenhVienConnectionString"
            connectionString="Data Source=NGUYENMANH\SQLEXPRESS;Initial Catalog=QLBenhVien;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>